<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Lesson 19.1 - Simple Servlet</display-name>
  <servlet>
  		<servlet-name>AddServlet</servlet-name>
  		<servlet-class>com.ameyTech.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AddServlet</servlet-name>
  		<url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>